 body {
   font-family: Arial, sans-serif;
   
  }
  #heading{
  color: white;
  font-weight: bold;
}       
.fa-notdog-duo{
  color: rgb(8, 237, 50);
}
#BoxElements {
  margin: 0 auto;
  width: 50vw;
  height: 70vh;
  outline: none;
  border-radius: 30px;
  box-shadow: 0 0 50px gainsboro;
}
#BoxElements h3{
  color: white;
  margin: 0;
  width: 50vw;
  margin: 0 auto;
  height: 10vh;
  justify-content: center center;
  align-items: center;
  border-radius: 30px 30px 0px 0px;
  border: 2px solid white;
  background-color: rgba(0, 0, 255, 0.52);
}
input{
  outline: none;
  border: none;
  border: 2px solid transparent;
  border-radius: 10%;
}
input[type="color"] {
  cursor: pointer;
  border: 2px solid transparent;
 margin: 0;
 padding: 0;
 border-radius: 5px;
 box-shadow: 0 0 10px gainsboro;
}
.rightPart{
  border-left: 2px solid rgba(244, 180, 19, 0.898);
  height: 30vh;
}

